{% load static wagtailcore_tags wagtailimages_tags %}


<div class="page_footer" role="contentinfo">
    <div class="container-fluid">
        <div class="page_footer_inner">
            <a class="navbar-brand" href="/" title="На главную страницу">
                <img src="{% static 'img/general/logo.svg' %}" width="138" height="93" alt="Амелия &mdash; Забота о каждом">
            </a>

            <div class="page-footer_main">
                <nav class="page-footer_nav">
                    <a href="#" class="nav-link"><span>Помощь</span></a>
                    <a href="#" class="nav-link"><span>Условия сотрудничества</span></a>
                    <a href="#" class="nav-link"><span>Оферта</span></a>
                    <a href="#" class="nav-link"><span>Новости</span></a>
                </nav>

                <div class="page-footer_social">
                    <a href="#" title="Мы ВКонтакте" class="fab fa-vk"></a>
                    <a href="#" title="Мы на Facebook" class="fab fa-facebook-f"></a>
                    <a href="#" title="Мы в Twitter" class="fab fa-twitter"></a>
                    <a href="#" title="Мы в Instagram" class="fab fa-instagram"></a>
                </div>
            </div>

            <div class="page-footer_main align-content-sm-end">
                <p>&copy; 2020 Amelia</p>
            </div>

        </div>

    </div>

</div>

